html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0%;
  display: grid;
  grid-template: 1fr 7fr 0.2fr/ 1fr 3fr;
}

body > * {
  border: solid 2px black;
}

/*header*/

header {
  grid-column: 2/-1;
  grid-row: 1/2;
  display: grid;
  grid-template: 1fr 1fr/ 2fr 1fr;
}

.upper-header,
.lower-header {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.right-header {
  padding-right: 20px;
}
.left-header {
  padding-left: 20px;
  
}

/* Left upper header */
.upper-header.left-header  {
  padding: 0px 15% 0px 50px;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
  border: solid 1px black;
  border-radius: 15px;
  height: 25px;
  flex-grow: 1;
  padding-left: 15px;
}
.upper-header button[type="submit"] {
  position: absolute;
  left: 20px;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  background-image: url(/images/magnify.svg);
  text-indent: -9999px; /* Hides the search text */
}
/*moves the search label above the input and makes it disappear when input is focused or has value*/

label[for=search] {
  position: absolute;
  left:60px;
  opacity: 0.3;
}
input[type="search"]:focus + label{
  opacity: 0;
}

input[type="search"]:not(:placeholder-shown) + label {
  opacity: 0;
}

/* right upper header */
.upper-header.right-header{
  justify-content: flex-end;
  
}
/* lower left header */
.lower-header.left-header {
  flex-flow: column;
  gap: 0px;
  justify-content: center;
  align-items: start;
}
.lower-header > h3,
.lower-header > h5 {
  margin: 0%;
  padding-left: 50px;
}
.lower-header > svg {
  position: absolute;
  width:40px;
  height:40px;
}




/* Side bar*/

nav {
  padding-left: 50px;
  max-height: 70%;
  grid-column: 1/2;
  grid-row: 1/-2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr repeat(9, minmax(20px, 1fr));
  gap: 15px;
  align-content: space-evenly;
}

/* Main Section*/
main {
  grid-column: 2/-1;
  grid-row: 2/-2;
  display: grid;
  grid-template: 1fr 12fr 1fr /3fr 1fr;
  gap: 20px;
  padding: 0px 20px;
  
}
main > h3 {
  margin: 0px;
  align-self: end;
}

.title:first-child {
  grid-column: 1/ 2;
  grid-row-start: 1;
  
}

.title:nth-of-type(2) {
  grid-column: 2/-1;
  grid-row-start: 1;
}

.card-style {
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px 20px;
  text-align: justify;
}

/*projects section */
.projects {
  grid-column: 1;
  grid-row: 2/-2;
}
.projects > div {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.projects > div > div {
  padding: 5px 20px;
  text-align: justify;
}


/*announcements section*/

.announcements {
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template: 5fr 1fr 5fr/ 1fr;
}
.announcements > *{
  margin: 0px;
}
.announcements > h3 {
  align-self: center;
}
.card-style.announcement > div {
  margin: 25px;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}

.card-style.announcement > div:last-child {
  border: none;
  padding-bottom: 0px;
}
.card-style.announcement > div > * {
  margin: 0px;
}
.card-style.announcement p {
     font-size: 12px;
}

/*trending section*/


.trending > .card-style {
  margin-right: 20px;
}
/* .trending > h3 {
  margin-top: 0px;
} */
ul * {
  padding: 0%;
  list-style-type: none;
  
}



footer {
  grid-column: 1 /-1;
  grid-row: -1/-2;
}
